api_key
data/*
!data/README.md
taskone
Rui
.vscode
*.pyc
.DS_Store
__pychache__
!package-lock.json
!package.json
*.key
*.pdf
*.docx
*.zip
prompts/**/*.json
.DS_Store
v1_data
server/data/**/*.json
server/data/**/*.jsonl
openai_api_key
node_modules
.prettierrc
server/request_log.txt
server/GPTUtils/context/*.json
server/GPTUtils/prompts/*.json