api_key
data/*
!data/README.md
taskone
Rui
.vscode
*.pyc
.DS_Store
__pychache__
!package-lock.json
!package.json
*.key
*.pdf
*.docx
*.zip
prompts/chunk_keywords/chunk_summaries/*.json
prompts/chunk_titles/chunk_summaries/*.json
prompts/chunk_topics/chunk_summaries/*.json
prompts/chunk_topics/chunks/*.json
prompts/chunking_script/chunks/*.json
prompts/chunking_script/raw/*.json
prompts/chunking_script/rerun/*.json
prompts/emotion_analysis_script/chunk_summaries/*.json
prompts/emotion_analysis_script/old_chunk_summaries/*.json
prompts/variable_extraction/*.json
prompts/variable_extraction/chunk_summaries/*.json
prompts/variable_extraction/results/*.json
prompts/variable_extraction/results/tmp/*.json
prompts/variable_extraction/variable_definitions/*.json
