api_key
!data/README.md
taskone
.vscode
*.pyc
.DS_Store
__pychache__
!package-lock.json
!package.json
*.key
*.pdf
*.docx
*.zip
# prompts/**/*.json
.DS_Store
# server/data/**/*.jsonl
# server/data/**/*.json
openai_api_key
node_modules
.prettierrc
server/request_log.txt
# server/GPTUtils/contexts/*.json
# server/GPTUtils/prompts/*.json
notes
request_log.txt